<html>
	<head>
		<title>Orchard REST</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />
		<script>
		</script>
	</head>
	<body>
		<div id="fb-root"></div>
		<main>
			<div class="heading">
					<a href ="growatorchard.com"><img src="{{ url_for('static',filename='img/o_logo.png') }}"></a> Orchard REST
			</div>
			<section>
				<p>This user has already been added, give them options here</p>
				<p>Delete {{params.client_email}}: <a onClick="return confirm('Are you sure you want to delete this account?')" href="/delete/{{params.client_email}}?client_id={{params.client_id}}
					&client_email={{params.client_email}}&redirect_uri={{params.redirect_uri}}">delete</a></p>
			</section>
		</main>
   	</body>
</html>
